Release/*
Debug/*
build/*
ipch/*
x86/*
x64/*
obj/*
.*\.aps$
.*\.sdf$
.*\.user$
.*\.filters$
.*\.suo$
.*\.opensdf$
.*\.orig$
.*\.deuser$
.*\.vsp$
.*\.vspx$
.*\.opendb$
.*\.psess$
.*\.error$
.*\.swp$
.*\.ilk$
.*\.exp$
.*\.obj$
.*\.exe$
.*\.pdb$
syntax: glob
*.VC.db
.vs/*
.cache/*
vulkan
*.spv
